<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <h1>Create a New Recipe!</h1>
      <label for="recipe_name">Recipe Name</label>
      <input type="text" name="name" id="recipe_name"><br>
      <label for="recipe_ingredients">Recipe Ingredients</label>
      <input type="text" name="ingredients" id="recipe_ingredients"><br>
      <label for="recipe_cook_time">Recipe Cook Time</label>
      <input type="text" name="cook_time" id="recipe_cook_time"><br>
      <br>
      <input type="submit" value="Create Recipe" id="submit">
    </form>

  </body>
</html>
